body {
    background-color: #F2F2F2;
    margin: 0vh 10vw 0vh 10vw;
}
/*header {
    margin-left: 5vw;
    margin-top: 2vh;
    margin-right: 5vw;
}*/
.sticky {
    /*position: fixed;
    top: 0;
    width: 100%;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #2D3359;
}
.inline-block {
    display: inline-block;

}
.nav {
    width: 79vw;
    float: right;
    margin-top: 1vh;
    /* text-align: center; */
    /* align-items: baseline; */
}
.navText {
    font-family: 'Audiowide', cursive;
    color: #F2F2F2;
    /* font-size: large; */
}
.nav-link:hover {
    /* text-shadow: 2px 2px 4px #ffffff; */
    /* border-bottom: 0.5px solid white; */
    text-decoration: underline;
    color: white;
}
.logo {
    font-family: 'Audiowide', cursive;
    color: #F2F2F2;
    font-size: 30px;
    width: 20vw;    
}

.fa-linkedin {
    color: white;
    margin-top: -2.5vh !important;
       
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: xx-large;
    color: #2D3359;
    text-align: center;
    margin-top: 15vh;

}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: x-large;
    color: #2D3359;
    text-align: left;
}
h3 {
    font-family: 'Audiowide', cursive;
    font-size: large;
    color: #2D3359;
    text-align: left;
    
}
h5 {
    font-family: "Montserrat", sans-serif ;
    font-size: large;
    font-weight: bold;
    color: #2D3359;
    text-align: left;
    
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: #2D3359;
    text-align: left;

}
.subNav {
    font-family: 'Audiowide', cursive;
    color: #2D3359;
    background: #F2F2F2;
    font-size: medium;
    padding: 1rem 5rem 1rem 5rem;
    
}
.sectionTitle {
    margin-left: 6rem;
}

.introduction {
    margin: 1vh 5vw 8vh 5vw; 
}
.content_left {
    display: flex;
    align-items: top;
    justify-content: start;
    width: 40vw;
    
}
.content_right {
    display: flex;
    align-items: top;
    justify-content: end;
    width: 40vw;
    
}
.jumbotron {
    margin: 1vh 5vw 5vh 5vw;
    display: block;
    justify-content: center;
}

.ideation,
.carImg,
.card-deck {
    margin: 1vh 5vw 8vh 5vw;   
}
.carousel-control-prev-icon {
    color: blue important !important;
}