
body {
    max-width: 1280px;
    background-color: #F2F2F2;
}

.inline-block {
display: flex;
align-items: flex-end;


}*/
.logo {
    width: 20vw;
    padding-left: 5vw;
    padding-right: 5vw;
    
    }

/*nav {
    width: 100%;
    padding: 1%;
    
    } 
    */
ul {
    display: flex;
    justify-content: flex-end;
    font-family: 'Audiowide', cursive;
    color: #171C26;
    
    
}
./*bgImg {
    padding: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 2px solid blue;
}
*/
.heroImg {
    height: 600px;
    padding: 10px;
   
    }

.overlay {
    height: 600px;
    width: 100%;
    }

.content {
    width: 500px;
    margin: 0 auto;
    
    }
footer {
    color:#F2F2F2;
    background-color: #2D3359;
    padding: 1rem 5rem 1rem 5rem;
 
}

#bertaPhoto {
    width: 45%;
    height: 45%;
    
}

li {
    display:flex;
    justify-content: flex-end;
    padding: 2%;
    
    
}

.ulFooter {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    outline: 1px solid red;
}
/*    JAN 15 2021 HW 18     */

p,
button,
h1,
h2,
h3,
h4  {
    font-family: 'Montserrat', sans-serif;
    
}

.flexContainer {
    display: flex;
    margin: 0 auto;
    width: 90%;
   
}

.skill1,
.skill2,
.skill3 {
    width: 33%;
    margin: 1%;
    padding: 3%;
   
}
.projectsGrid {
    display: flex;
    margin: 0 auto;
    width: 90%;
    
}

.skill1,
.skill2,
.skill3 {
    width: 33%;
    margin: 1%;
    padding: 3%;
   
}

.mySkills{
    margin: 5vw;
    
}

.myProjects {
    margin: 5vw;
    
}
.projectsGrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "a"
    "b"
    "c";
    
}
.ex1,
.ex2,
.ex3 {
    display: grid;
    grid-template-areas:
    "a b";
    grid-column: 1fr;
    
}
.leftImg,
.leftImg2,
.leftImg3 {
    grid-row-start: a-start;
    grid-column: 1fr;
    
}
.rightContent {
    grid-row-end: a-end;
    grid-column: 1fr;
   
}
.img {
    width: 30vw;
}
.skillImg {
    width: 10vw;
    align-items: center;
}
/*  jan 19 tutor  */
.linkedinIcon {
    cursor: pointer;
}
/* jan 25 solo hw 18 */
@media only screen and (max-width: 600px) {
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
    .skill1 {
        width: 100%;
    }
    .skill2 {
        width: 100%;
    }
    .skill3 {
        width: 100%;
    }
    .ex1 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "leftImg"
        "rightContent";
        
    }
    .ex2 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "leftImg2"
        "rightContent2";
        
    }
    .ex3 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "leftImg3"
        "rightContent3";
        
    }

}
/* jan 28 - tutor - hw 19 */
.dropdown {
    list-style: none
}
.dropdown-menu {
    display: none;
    list-style: none;
    background-color: white;
    outline: 1px solid red;
}
